


.bracelets
{
 
padding :20px;
display : grid;
grid-template : "20px 20px 20px ";
column-gap : 40px;
row-gap : 40px;
margin : 20px;
justify-content: center;

}

.intro{
    font-size:30px;
    max-width: 500px;
    font-family:Dancing Script;
    color:black;
    margin:100px 0px 0px 40px;        
}


.card{
    border-style:solid;   
    border-color: black;
    border-width:10px;
    border-style: double;
    transition:transform 1s ease;
   
   }

@media( (min-width:300px) and (max-width:660px) )
{
    .bracelets{
        grid-template:"20px";
        display:grid;
        justify-content: center;

    }

    .card{
        height:200px;
        width:200px;
    }

    .ab{
        justify-content: center;
    }
    
    .intro{
        font-size: 20px;
    }
}

.ab{
  
    height: fit-content; 
    display: flex;
}

@media( (min-width:662px) and (max-width:1200px))
{
    .bracelets{
        grid-template: "15px 15px";
        display:grid;

    }

    .card{
        height:200px;
        width:200px;
    }

    .intro{
        font-size: 25px;
    }
}





.card:hover{
    transform: scale(1.2);
    
}








.body{
   

   padding-bottom: 10px;
  
    padding-left:30px;
}